.button {
  background: var(--fg);
  color: var(--bg);
  padding: clamp(8px, 1.5vw, 16px) clamp(24px, 3vw, 96px);
  border-radius: 16px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  gap: 8px;
  align-items: center;
  & i {
    position: relative;
    top: 1px;
  }
}